.footer {
  text-align: center;
  background-image: url(../../images/footer2.jpg);
  background-size: cover;
  background-position: center;
  padding: 25px;

}

.links {
  text-align: center;
}

.links a {
  color:black;
  font-size: 38px;
  padding-left: 25px;
}


